*.swp
*.pyc
.ctags
*.log
tags
tmp
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.python-version
changelog.html
